* {
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*********************************************************************/
/*  COMPONENTE MAIN
/*********************************************************************/
.main {
    flex: 1;
    padding: 1.5rem 0;
    display: flex;

}
.main__title {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #4f4f4f;
    text-transform: uppercase;
}
.main__link {
    color: #337ab7;
    display: inline-block;
}
.main__link:hover {
    text-decoration: none;
}
.main__item {
    margin-bottom: .5rem;
}
.main__icon {
    color: #91b421;
    width: 24px;
}
.main__form {
    padding: 0;
}

/*********************************************************************/
/*  COMPONENTE HEADER
/*********************************************************************/
.header {
    padding: 1rem 0;
}
.header__brand {
    margin-bottom: 0 !important;
    line-height: 0;
}
.header__link {
    display: inline-flex;
    align-items: center;
}
.header__link:hover {
    text-decoration: none;
}
.header__logotipo {
    margin-right: .8rem;
}
.header__title {
    color: #939393;
    font-size: 1.5rem;
    display: inline-block;
}

/*********************************************************************/
/*  COMPONENTE FOOTER
/*********************************************************************/
.footer {
    padding: 1.5rem 0;
    text-align: center;
    background: linear-gradient(to right, rgba(193,225,90,1) 0%, rgba(19,90,113,1) 100%);
}
.footer__text {
    font-size: .8rem;
    color: #333;
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 0;
    color: #fff;
}
.footer__link {
    color: #fff;
    font-weight: bold;
}
.footer__link:hover {
    text-decoration: none;
    color: #bae073;
}
/*********************************************************************/
/*  COMPONENTE TERMINOS Y CONDICIONES
/*********************************************************************/
.terms {
    color: #56575b;
    font-size: .9rem;
    margin-bottom: 1rem;
}
.terms__title {
    text-align: center;
    margin-bottom: 2.8rem;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
}
.terms__subtitle {
    font-weight: bold;
    font-size: .9rem;
    margin: 1.5rem 0 1rem 0;
}
.terms__clause {
    margin-bottom: .7rem;
    line-height: 1.5;
}
.terms__highlight {
    color: teal;
}
.bases {
    margin-bottom: 1.5rem;
}
.bases__item {
    margin-left: 2rem;
    margin-bottom: .2rem;
    padding-left: .5rem;
    list-style-type: circle;
}


/**************/

.container-flex__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-register {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.form-register {
    flex-basis: 60%;
    background-color: #f9f9f9;
    padding: 1.2rem;
    border-radius: 3px;
    border: 1px solid #f1f1f1;
}
.form-search {
    /*margin-top: 1.5rem;*/
    width: 600px;
    background-color: #f9f9f9;
    padding: 1.2rem;
    padding-bottom: 0;
    border-radius: 0 0 3px 3px;
    border: 1px solid #f1f1f1;
}
.form-message {
    width: 600px;
    font-size: .9rem;
    background-color: #fff3cd;
    border-color: #f1f1f1;
    color: #856404;
    margin-bottom: 0;
    border-radius: 3px 3px 0 0;
    border: 1px solid #ffeeba;
}
.info-user {
    background-color: #f9f9f9;
    font-size: .8rem;
    padding: .8rem;
    /*font-weight: bold;*/
}
.info-concierge {
    background-color: #e6f7fa;
    font-size: .8rem;
    padding: .8rem;
    margin-bottom: 1.8rem;
}
.title__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.table-tickets {
    font-size: .8rem;
}
.btn-next {
    background-color: #158F97;
    color: #fff;
    width: 90px;
}
.btn-next:hover {
    color: #fff;
    background-color: #0C7178;
}
.btn-menu {
    text-align: right;
    padding: .3rem .5rem;
    font-size: .8rem;
    background-color: #f9f9f9;
    color: #444;
    transition: all .2s;
    border: 1px solid #ccc;
    border-radius: 2px
}
.btn-menu:hover {
    color: #158F97;
}
.info-highlight {
    margin-right: .3rem;
    color: #158F97;
}
.btn-add {
    background-color: #158F97;
    color: #fff;
    border-color: #0C7178;
}
.btn-add:hover {
    color: #fff;
    background-color: #0C7178;
}
.form-message i {
    color: #0B9EBB;
    margin-right: .5rem;
}
.form-group {
    margin-bottom: .8rem;
}
